name: Assemble

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
      - name: Assemble Debug
        run: ./gradlew assembleDebug --info
        
      - name: ls
        run: ls /home/runner/work/traewelldroid/traewelldroid
      
      - name: ls
        run: ls /home/runner/work/traewelldroid/traewelldroid/app/build/outputs/apk
      
      - name: ls
        run: ls /home/runner/work/traewelldroid/traewelldroid/app/build/outputs/apk/play
      
      - name: ls
        run: ls /home/runner/work/traewelldroid/traewelldroid/app/build/outputs/apk/foss
        
      - uses: vimtor/action-zip@v1
        with:
          files: /home/runner/work/traewelldroid/traewelldroid/app/build/outputs/apk
          dest: assembly.zip
          
      - uses: actions/upload-artifact@v3
        with: 
          name: assembly
          path: assembly.zip
